:root {
  --color-background: #272822;
  --color-background-emphasis: #fff2;

  --color-text: #fff;
  --color-text-deemphasis: #fffb;

  --color-button: #fff2;
  --color-button-playing: #fff4;
  --color-button-focus: var(--color-text);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff;
    --color-background-emphasis: #27282222;

    --color-text: #272822;
    --color-text-deemphasis: #272822bb;

    --color-button: #27282222;
    --color-button-playing: #27282244;
    --color-button-focus: var(--color-text);
  }
}

* {
  box-sizing: inherit;
}

html {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-text);
  font: 300 18px sans-serif;
  letter-spacing: .1em;
  text-align: center;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: [header-start metronome-start tempo-start] 1fr [header-end metronome-end tempo-end];
  grid-template-rows: [header-start] auto [header-end metronome-start] 1fr [metronome-end tempo-start] auto [tempo-end button-start] auto [button-end];
  height: 100vh;
  margin: 0;
  padding: 2em;
}

input[type="range"][orient="vertical"] {
  -webkit-appearance: slider-vertical;
  transform: rotate(180deg);
  writing-mode: tb-lr;
}

.header {
  all: unset;
  grid-area: header;
  text-align: center;
}

.metronome {
  display: contents;
}

.metronome-body {
  align-self: center;
  background-color: var(--color-background-emphasis);
  clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  display: flex;
  grid-area: metronome;
  height: 50vh;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
  width: 30.9vh;
}

.tempo {
  color: var(--color-text-deemphasis);
  grid-area: tempo;
}

.button {
  all: unset;
  background-color: var(--color-button);
  margin: 0 auto;
  padding: 1em 2em;
}

.button:focus {
  outline: 1px solid var(--color-button-focus);
}

.metronome[playing] .button {
  background-color: var(--color-button-playing);
}
